<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      {% load static %}
      <link rel="stylesheet" href="{% static 'mainPage/css/style.css' %}">
      <script src="{% static 'bootstrap/js/jquery.slim.min.js' %}"></script>
      <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
      <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
      <style>
        form {
          display: block;
          max-width: 526px;
          max-height: 285px;
        }
      </style>
      <title>LogIn Page</title>
  </head>
  <body>
    <div class="container-fluid">
      <div class="container-fluid">
        <div class="row no-gutter">
          <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
          <div class="col-md-8 col-lg-6">
            <div class="login d-flex align-items-center py-5">
              <div class="container">
                
                <div class="row">
                  <div class="col-md-9 col-lg-8 mx-auto" id="width-modify">
                    <h3 class="login-heading mb-4">Welcome to CrimeCity</h3>
                    <form method="POST">
                      {% csrf_token %}
                      <div class="form-label-group">
                        <input name="user_email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                        <label for="inputEmail">Email address</label>
                      </div>    

                      <div class="form-label-group">
                        <input name="user_pw" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                        <label for="inputPassword">Password</label>
                      </div>
      
                      <div class="custom-control custom-checkbox mb-3">
                        <input type="checkbox" class="custom-control-input" id="customCheck1">
                        <label class="custom-control-label" for="customCheck1">Remember password</label>
                      </div>
                      <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit">Sign in</button>
                      <div class="text-center">
                        <!-- <a class="small" href="#">Forgot password?</a></div> -->
                    </form>
                  </div>
                
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
